AnchorPane {
    -fx-background-color: #c5e1a5;
}

#Title {
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

#username {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#HuellaMenu, #HabitoMenu, #funcionalidadMenu {
    -fx-background-color: #2E7D32;
    -fx-text-fill: #C5E1A5;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#AnadirHuella, #ActualizarHuella, #BorrarHuella, #anadirHabito, #actualizarHabito, #borrarHabito, #calcularImpacto, #recomendado, #generarReporte, #compararHuella {
    -fx-text-fill: #558B2F;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

#avatarImage {
    -fx-border-color: #1f5960;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
}